body, p, ul, ol {
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
	font: 13px Arial, Tahoma, sans-serif;
}
.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.road {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2048px;
	background: url(../images/road.jpg) repeat;
	background-size: 25%;
	-webkit-transform: 'translate3d(0, -1024px, 0)';
	z-index: 50;
}
.grass {
	position: absolute;
	top: 0;
	width: 12.5%;
	height: 2048px;
	background: url(../images/grass.jpg) repeat;
	background-size: 80%;
	-webkit-transform: 'translate3d(0, -1024px, 0)';
	z-index: 51;
}
	.grass.left {
		left: 0;
	}
	.grass.right {
		right: 0;
	}
.car {
	position: absolute;
	bottom: 5%;
	width: 5%;
	height: 27%;
	background: url(../images/car.png) center center no-repeat;
	background-size: 100%;
	z-index: 100;
}
.speed {
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	text-align: center;
	width: 50px;
	height: 50px;
	margin: 10px auto;
	position: absolute;
	z-index: 1000;
}
.obstacle {
	position: absolute;
	width: 5%;
	height: 5%;
	z-index: 101;
}
	.obstacle.type-1 {
		background: #444;
	}
	.obstacle.type-2 {
		background: #333;
	}
	.obstacle.type-3 {
		background: #222;
	}
	.obstacle.type-4 {
		background: green;
	}
	.obstacle.type-5 {
		background: blue;
	}
	.obstacle.type-6 {
		background: red;
	}