body, p, ul, ol {
	padding: 0;
	margin: 0;
}
body {
	font: 13px Arial, Tahoma, sans-serif;
	position: relative;
	text-align: center;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -250px;
	width: 500px;
	height: 400px;
}
.container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(/images/bg-menu.png) top left no-repeat;
		z-index: 1100;
	}
		.menu img {
			display: block;
			margin: 160px auto 20px auto;
			width: 130px;
			height: 130px;
		}
		.menu a {
			display: block;
			margin: 0 auto;
			width: 260px;
			height: 63px;
			background: url(/images/btn-start.png) top left no-repeat;
			text-indent: -9999px;
		}
	.end {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(/images/bg-end.png) top left no-repeat;
		z-index: 1100;
	}
		.end a {
			display: block;
			margin: 202px auto 0;
			width: 260px;
			height: 63px;
			background: url(/images/btn-play-again.png) top left no-repeat;
			text-indent: -9999px;
		}
	.toolbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 39px;
		background: url(/images/toolbar.png) top left no-repeat;
		z-index: 900;
	}
		.speed-gauge {
			position: absolute;
			top: 3px;
			right: 79px;
			width: 40px;
			height: 22px;
			background: url(/images/speed-gauge.png) top left no-repeat;
			z-index: 1000;
		}
			.speed-gauge img {
				transform: rotate(-90deg);
				-ms-transform: rotate(-90deg); /* IE 9 */
				-webkit-transform: rotate(-90deg); /* Safari and Chrome */
				transform-origin: 3px 17px;
				-webkit-transform-origin: 3px 17px;
			}
		.lifebar {
			position: absolute;
			top: 17px;
			right: 10px;
			width: 60px;
			height: 5px;
			background: #390b0b;
			padding: 1px 0 1px 1px;
			z-index: 1000;
		}
			.lifebar li {
				float: left;
				width: 5px;
				height: 5px;
				margin-right: 1px;
				background: url(/images/lifebar-dot.png) top left no-repeat;
			}
	.road {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2048px;
		background: url(/images/road.png) repeat;
		background-size: 25%;
		/*-webkit-transform: 'translate3d(0, -1024px, 0)';*/
		z-index: 50;
	}
	.grass {
		position: absolute;
		top: 0;
		width: 12.5%;
		height: 2048px;
		background: url(/images/grass.png) repeat;
		background-size: 80%;
		/*-webkit-transform: 'translate3d(0, -1024px, 0)';*/
		z-index: 51;
	}
		.grass.left {
			left: 0;
		}
		.grass.right {
			right: 0;
		}
	.car {
		position: absolute;
		top: 300px;
		left: 0;
		width: 20px;
		height: 40px;
		background: url(/images/car.png) center center no-repeat;
		background-size: 100%;
		z-index: 100;
	}
	.wheel {
		margin: -75px 0 0 -125px;
		width: 250px;
		height: 150px;
		position: absolute;
		top: 50%;
		left: 50%;
		background: url(/images/wheel.jpg) center center no-repeat;
		-webkit-transform: rotate(90deg);
	}
	.obstacle {
		position: absolute;
		width: 20px;
		height: 40px;
		z-index: 101;
	}
		.obstacle.type-1 {
			height: 20px;
			background: url(/images/obstacle1.png) center center no-repeat;
			background-size: 100%;
		}
		.obstacle.type-2 {
			height: 20px;
			background: url(/images/obstacle2.png) center center no-repeat;
			background-size: 100%;
		}
		.obstacle.type-3 {
			height: 20px;
			background: url(/images/obstacle3.png) center center no-repeat;
			background-size: 100%;
		}
		.obstacle.type-4 {
			background: url(/images/obstacle4.png) center center no-repeat;
			background-size: 100%;
		}
		.obstacle.type-5 {
			background: url(/images/obstacle5.png) center center no-repeat;
			background-size: 100%;
		}
		.obstacle.type-6 {
			background: url(/images/obstacle6.png) center center no-repeat;
			background-size: 100%;
		}
	.explosion {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 63px;
		height: 67px;
		background: url(/images/explosion.png) 0 0 no-repeat;
		z-index: 10200;
	}
		.explosion.animated {
			display: block;
			-webkit-animation : explosion 0.5s steps(31) 1;
		}
		@-webkit-keyframes explosion {
	        0%   { background-position: 0 0; }
	        100% { background-position: -1963px 0; }
	    }